* {
    text-align: center;
}

.card-container, .userInputCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 30rem;
    margin-bottom: 50px;
}

.card ul {
    list-style-type: none; 
}

.userInputCard {
    display: none;
}
